.projectsSection {
    // Add any specific styles for the projects section if needed
  }
  
  .projectItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9; /* Optional: Add background color for better visibility */
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
  }
  
  .projectDetails {
    flex: 2; /* Takes up more space */
    margin-right: 20px; /* Add space between details and media */
  }
  
  .projectMedia {
    flex: 1; /* Takes up less space */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .projectTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .languages {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .githubLink {
    display: flex; /* Ensure the GitHub link uses flexbox */
    align-items: center; /* Center align the items vertically */
    margin-right: 10px;
  }
  
  .githubIcon {
    width: 20px;
    height: 20px;
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .projectImage, .projectVideo {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
    margin-bottom: 10px;
  }
  
  .projectVideo {
    aspect-ratio: 16 / 9; /* Ensure proper aspect ratio */
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .projectItem {
      flex-direction: column;
    }
  
    .projectDetails, .projectMedia {
      flex: none;
      width: 100%;
      margin-right: 0;
    }
  
    .projectMedia {
      align-items: flex-start;
    }
  }
  