.projectsSection {
}
  
  .projectItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 8px; 
  }
  
  .projectDetails {
    flex: 2; 
    margin-right: 20px; 
  }
  
  .projectMedia {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .projectTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .languages {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .githubLink, .pdfLink {
    display: flex; 
    align-items: center; 
    margin-right: 10px;
  }
  
  .githubIcon, .pdfIcon {
    width: 20px;
    height: 20px;
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .projectImage, .projectVideo {
    width: 100%;
    height: auto;
    border-radius: 8px; 
    margin-bottom: 10px;
  }
  
  .projectVideo {
    aspect-ratio: 16 / 9;
  }
  
  @media (max-width: 600px) {
    .projectItem {
      flex-direction: column;
    }
  
    .projectDetails, .projectMedia {
      flex: none;
      width: 100%;
      margin-right: 0;
    }
  
    .projectMedia {
      align-items: flex-start;
    }
  }
  